
.theme-toggle-icon,
.menu-toggle-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-dark-green);
    height: 35px;
    min-height: 35px;
    width: 35px;
    min-width: 35px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    color: var(--off-white);
    transition: .2s ease;
}

.theme-toggle-icon:hover {
    color: var(--light-green)
}

.menu-toggle {
    width: 20px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .2s ease; 
}

.menu-toggle .bar {
    width: 20px;
    height: 2px;
    background: var(--off-white);
    opacity: 1;
    transition: .2s ease;    
}

.menu-toggle-outer:hover .bar{
    background: var(--light-green);
}

.menu-toggle-active .menu-toggle {
    justify-content: center;
}

.menu-toggle-active .bar {
    position: absolute;
}

.menu-toggle-active .bar:nth-last-of-type(1) {
    transform: rotate(45deg);
}

.menu-toggle-active .bar:nth-last-of-type(2) {
    display: none;
}

.menu-toggle-active .bar:nth-last-of-type(3) {
    transform: rotate(-45deg);
}




