

.button {
    color: var(--off-white);
    padding: 10px 30px;
    border-radius: 6px;
    display: block;
    width: fit-content;
    /* transition: .4s; */
}

.button-primary {
    background: var(--light-green);
    border: 1px solid var(--light-green);    
}
  
.button-primary:hover {
    color: var(--light-green);
    background: transparent;
}

.button-secondary {
    border: 1px solid var(--light-green);    
    color: var(--light-green);
}

.button-secondary:hover {
    background: var(--light-green);
    color: var(--off-white);    
}

.button-link, 
.inline-link {
    color: var(--light-green);
    text-decoration: underline;
    text-underline-offset: 2px;
} 

.button-link:hover,
.inline-link:hover {
    text-decoration: none;
}

.inline-link {
    color: var(--light-green);
    text-decoration: underline;
    text-underline-offset: 2px;
}